#animateMe {
    margin: 0;
    height: 100vh;
    font-family: "Montserrat";
    overflow: hidden;
  }

  .animateSection {
    display: grid;
    grid-template-columns: repeat(10, auto);
  }

  .animateDiv {
      background-color: linen;
      height: 100vh;
      transition: background-color 1s;
  }

  .animateSpan {
    /* color: rgb(224, 224, 250, 0.75);
    font-size: 5em; */
    position: absolute;
    left: 40%;
    opacity: 0;
    z-index: 2;
  }
