#animateMe {
    margin: 0;
    height: 100vh;
    font-family: "Montserrat";
    overflow: hidden;
  }

  .animateSection {
    display: grid;
    grid-template-columns: repeat(10, auto);
  }

  .animateDiv {
      background-color: linen;
      height: 100vh;
      transition: background-color 1s;
  }

  .animateSpan {
    position: absolute;
    left: 35%;
    opacity: 0;
    z-index: 2;
  }

  @media all and (max-width:900px), (max-device-width:900px){
    .animateSpan {
      left: 0%;
    }

    }